<a href="https://colab.research.google.com/github/Dianagustine-5210411405/Machine-Learning-E/blob/main/Hasil_Algoritma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
#Mengimport library 
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

data = pd.read_csv('/content/drive/MyDrive/5210411405_Dianagustine ML/Dataset/House Price India.csv')

data.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [62]:
# Menampilkan fitur atau kolom yang ada
data.columns

Index(['id', 'Date', 'number of bedrooms', 'number of bathrooms',
       'living area', 'lot area', 'number of floors', 'waterfront present',
       'number of views', 'condition of the house', 'grade of the house',
       'Area of the house(excluding basement)', 'Area of the basement',
       'Built Year', 'Renovation Year', 'Postal Code', 'Lattitude',
       'Longitude', 'living_area_renov', 'lot_area_renov',
       'Number of schools nearby', 'Distance from the airport', 'Price'],
      dtype='object')

In [63]:
#Untuk mengetahui data baris dan kolom...........(disini terdapat 14620 baris dan 23 kolom)
data.shape

(14620, 23)

In [64]:
#cek missing values..........(Tidak terdapat missing value pada dataset ini)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [65]:
print(data.groupby('Price').size())
#data set is balanced

Price
78000      1
80000      1
82000      1
82500      1
83000      1
          ..
5110000    1
5570000    1
6890000    1
7060000    1
7700000    1
Length: 2901, dtype: int64

# **TRAINING MODELS**

In [66]:
# mendifinisikan X dan Y, lalu ubah ke numpy
Y = data['Price'].to_numpy()
del data['Price']
X = data.to_numpy()

In [67]:
# Test options and evaluation metric
validation_size = 0.30
seed = 7
scoring = 'accuracy'
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

In [68]:
# Membuat data training dan data testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# cek bentuk dari X_train and X_test
X_train.shape, X_test.shape

((11696, 22), (2924, 22))

In [69]:
### Normal Default configurations of models
from sklearn.model_selection import KFold,cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

# **KNeighborsClassifier Model**

In [70]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train,Y_train)
knn_predict = knn.predict(X_validation)
accuracy_KN = accuracy_score(Y_validation,knn_predict)
print("Accuracy of the KNeighbors Classifier model: ", accuracy_KN * 100)
joblib.dump(knn,'KNNClassifiermodels.pkl')

Accuracy of the KNeighbors Classifier model:  16.78066575467396

['KNNClassifiermodels.pkl']

# **DECISION TREE**

In [71]:
from sklearn.tree import DecisionTreeClassifier
data_classfier = DecisionTreeClassifier()
model_data = data_classfier.fit(X_train,Y_train)
data_classi_predict = model_data.predict(X_validation)
accuravy_DT = accuracy_score(Y_validation,data_classi_predict)
print("Accuracy of the decision tree classifier model: ", accuravy_DT * 100)
joblib.dump(model_data,'decisionTreeClassifiermodels.pkl')

Accuracy of the decision tree classifier model:  81.48654810761514

['decisionTreeClassifiermodels.pkl']

# **NAIVE BAYES**

In [55]:
#Membuat Gaussian Naive Bayes
#masukkan sampel uji acak ke model untuk mendapatkan nilai prediksi.
from sklearn.naive_bayes import GaussianNB

# Build a Gaussian Classifier
model = GaussianNB()

# Model training
model.fit(X_train, Y_train)

# Predict Output
predicted = model.predict([X_test[0]])

print("Actual Value:", Y_test[0])
print("Predicted Value:", predicted[0])

Actual Value: 725000
Predicted Value: 725000

In [77]:
#Kami akan menggunakan akurasi dan skor f1 untuk menentukan performa model
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report,
)

y_pred = model.predict(X_test)

accuray = accuracy_score(y_pred, Y_test)
f1 = f1_score(y_pred, Y_test, average="weighted")

print("Accuracy:", accuray)
print("F1 Score:", f1)

Accuracy: 0.9302325581395349
F1 Score: 0.9444854667697085